<h4 [class.loading]="status=='loading'">{{status}}</h4>

<!-- If schedule loaded -->
<div *ngIf="allEmployees.length > 0">
    <div class="filters-panel">
    <cc-employee-selector [names]="allEmployees" [selectedEmployee]="selectedEmployee" (employeeChange)="employeeChange($event)">
    </cc-employee-selector>

    <label class="showPastWeeks">
        <input type="checkbox" [(ngModel)]="showPastWeeks" (ngModelChange)="recalculateEntries()">
        Show info from past weeks
    </label>
    </div>

    <cc-schedule-table *ngIf="selectedEmployee" [entries]="selectedEntries">
    </cc-schedule-table>
</div>